<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top menu" th:fragment="header">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/painel' ? 'active' : ''}">
                        <a th:href="@{/painel}">Home</a>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/painel/produtos' ? 'active' : ''}">
                        <a th:href="@{/painel/produtos}">Produtos</a>
                    </li>
                    <li th:classappend="${#httpServletRequest.getRequestURI() == '/painel/pedidos' ? 'active' : ''}">
                        <a th:href="@{/painel/pedidos}">Pedidos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>