<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Produtos</title>
</head>
<body>
    <div layout:fragment="content" class="success-page">
        <h1>Compra efetuada com sucesso!</h1>
        <p>Estamos <strong>aguardando seu pagamento</strong> para que você tenha acesso aos materiais para download!</p>
        <p>Assim que o pagamento for realizado, por favor entre em contato conosco para agilizarmos a liberação do seu material.</p>
    </div>
</body>
</html>