<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="footer" class="footer">
        <p><strong>Desenvolvido por: Diego Weiler, Diogo Ottequir e Frederico Wuerges Becker</strong></p>
        <p class="essay">SENAC Blumenau - Análise e Desenvolvimento de Software<br/>Trabalho de Atividade Complementar 4&deg; Semestre</p>
        <p class="copyright">&copy; <span th:text="${#dates.year(#dates.createNow())}" th:remove="tag">2016</span> - Todos direitos reservados</p>
    </div>
</body>
</html>