<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div class="navbar navbar-inverse" th:fragment="header">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" th:href="@{/}">Home</a></li>
                    <li><a href="#" th:href="@{/produtos}">Produtos</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>