<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <!--/*@thymesVar id="highlighted" type="java.lang.Boolean"*/-->
    <section th:fragment="product" class="products row" th:classappend="${highlighted} == true ? 'products-highlight' : ''">
        <!--/*@thymesVar id="products" type="java.util.List"*/-->
        <div th:if="${#lists.isEmpty(products)}" class="alert alert-info col-md-12">
            Nenhum produto disponível
        </div>
        <!--/*@thymesVar id="product" type="com.ddf.domain.Product"*/-->
        <div th:each="product: ${products}" class="product col-xs-6 col-sm-4 col-md-3">
            <img src="http://lorempixel.com/300/200/" th:alt="${product.name}" class="img-responsive"/>
            <p class="title">
                #<span th:text="${product.code}"></span> -
                <span th:text="${product.name}"></span>
            </p>
            <p th:text="${product.description}" class="description"></p>
            <p class="price">Preço: <strong>R$ <span th:text="${#numbers.formatDecimal(product.price, 1, 'POINT', 2, 'COMMA')}"></span></strong></p>
            <a href="javascript:" th:title="${product.name}" class="btn btn-default btn-small btn-cart" th:attr="data-product-code=${product.code}">Adicionar ao carrinho</a>
        </div>
        <script th:if="!${#lists.isEmpty(products)}">

            $(function() {
                $('.products .btn-cart').on('click', function (e) {
                    e.preventDefault();
                    $.ajax({
                        method: 'post',
                        url: '/cart/add/' + $(this).data('product-code'),
                        contentType: 'application/json',
                        dataType: 'json'
                    })
                    .done(function (data) {
                        if (data.success) {
                            $.bootstrapGrowl('Produto adicionado ao carrinho!', {type: 'success', width: 270, offset: {from: 'top', amount: 70}});
                        } else {
                            $.bootstrapGrowl('Problema ao adicionar produto ao carrinho!', {type: 'error'});
                        }
                    });
                });
            });

        </script>
    </section>
</body>
</html>