<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Produtos</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Carrinho de Compras</h1>
        <!--/*@thymesVar id="cart" type="com.ddf.domain.Cart"*/-->
        <div th:if="${#lists.isEmpty(cart.getItems())}" class="alert alert-info col-md-12">
            Nenhum produto adicionado no carrinho de compras.
        </div>
        <div class="clearfix"></div>
        <form th:action="@{/cart/submit}" method="post" th:if="${!#lists.isEmpty(cart.getItems())}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th width="100" class="text-center">#</th>
                        <th>Produto</th>
                        <th width="100" class="text-center">Quantidade</th>
                        <th width="150" class="text-center">Preço</th>
                        <th width="190" class="text-center">Total</th>
                        <th width="50" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <!--/*@thymesVar id="cartItem" type="com.ddf.domain.CartItem"*/-->
                    <tr th:each="cartItem: ${cart.getItems()}">
                        <td class="text-center code" th:text="${cartItem.getProduct().getCode()}" th:attr="data-product-code=${cartItem.getProduct().getCode()}"></td>
                        <td th:text="${cartItem.getProduct().getName()}"></td>
                        <td class="text-center">
                            <input type="number" name="quantity[]" title="Quantidade" step="1" min="1" max="99" class="form-control text-center quantity" th:value="${cartItem.getQuantity()}"/>
                        </td>
                        <td class="text-center">
                            <div class="input-group">
                                <span class="input-group-addon">R$</span>
                                <input type="text" name="price[]" title="Preço" class="form-control text-right price" readonly="readonly" th:value="${#numbers.formatDecimal(cartItem.getPrice(), 1, 2, 'POINT')}"/>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="input-group">
                                <span class="input-group-addon">R$</span>
                                <input type="text" name="total[]" title="Total" class="form-control text-right total" readonly="readonly" th:value="${#numbers.formatDecimal(cartItem.getQuantity() * cartItem.getPrice(), 1, 2, 'POINT')}"/>
                            </div>
                        </td>
                        <td class="text-center">
                            <a href="javascript:" title="Remover produto" class="btn btn-default btn-remove">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                            <div class="input-group">
                                <span class="input-group-addon">R$</span>
                                <input type="text" name="cart-total" title="Valor total do carrinho" class="form-control text-right cart-total" readonly="readonly" th:value="${#numbers.formatDecimal(cart.getTotal(), 1, 2, 'POINT')}"/>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit" title="Finalizar compra" class="btn btn-success pull-right">Finalizar compra</button>
            <div class="clearfix"></div>
        </form>
        <script>

            var cartTotal = function () {
                var total = 0;
                $('.total').each(function () {
                    total += parseFloat($(this).val());
                });
                $('.cart-total').val(total.toFixed(2));
            };

            $(function() {
                $('.quantity').on('change', function () {
                    var $row = $(this).closest('tr');
                    var total = ($row.find('.price').val() * $(this).val()).toFixed(2);
                    $row.find('.total').val(total);
                    cartTotal();

                    $.ajax({
                        method: 'post',
                        url: '/cart/update/' + $row.find('.code').data('product-code'),
                        contentType: 'application/json',
                        dataType: 'json',
                        data: JSON.stringify({
                            quantity: $(this).val()
                        })
                    })
                    .done(function (data) {
                        if (!data.success) {
                            $.bootstrapGrowl('Problema ao atualizar produto ao carrinho!', {type: 'error'});
                        }
                    });
                });

                $('.btn-remove').on('click', function (e) {
                    e.preventDefault();
                    var $row = $(this).parents('tr');
                    $.ajax({
                        method: 'post',
                        url: '/cart/remove/' + $row.find('.code').data('product-code'),
                        contentType: 'application/json',
                        dataType: 'json'
                    })
                    .done(function (data) {
                        if (data.success) {
                            $row.remove();
                            window.location.reload();
                        } else {
                            $.bootstrapGrowl('Problema ao remover produto do carrinho!', {type: 'error'});
                        }
                    });
                });
            });

        </script>
    </div>
</body>
</html>