
/*  ==================================================================
    Layout
    ================================================================== */

.menu .cart {
    background: #3c3c3c;
    color: #FFF !important;
}

.menu .cart:hover {
    background: #4A4A4A !important;
}


.success-page {
    min-height: 300px;
    padding-top: 75px;
    text-align: center;
}

/*  ==================================================================
    Products
    ================================================================== */

.products .product {
    text-align: justify;
    margin-bottom: 30px;
}

.products .product img {
    margin-bottom: 10px;
}

.products .product .title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.products .product .description {
    margin-bottom: 10px;
    color: #777;
}

.products .product .price {
    font-weight: bold;
}

.products .product .price strong {
    color: #079114;
}


/*  ==================================================================
    Cart
    ================================================================== */

.cart table td {
    vertical-align: middle !important;
}


/*  ==================================================================
    Customer
    ================================================================== */


/*  ==================================================================
    Order
    ================================================================== */
