<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Home</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Home</h1>
        <!--/*@thymesVar id="products" type="java.util.List"*/-->
        <div th:each="product: ${products}">
            <!--/*@thymesVar id="product" type="com.ddf.domain.ProductDomain"*/-->
            <p th:text="${product.name}"></p>
        </div>
    </div>
</body>
</html>