<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Home</title>
</head>
<body>
    <div layout:fragment="content">
        <!--/*@thymesVar id="highlights" type="java.util.ArrayList"*/-->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" th:if="!${#lists.isEmpty(highlights)}">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" th:each="highlight,iterator: ${highlights}"  th:attr="data-slide-to=${i}" th:classappend="${iterator.index == 0} == true ? 'active' : ''"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item" th:each="highlight,iterator: ${highlights}" th:classappend="${iterator.index == 0} == true ? 'active' : ''">
                    <img th:src="${'https://placeholdit.imgix.net/~text?txtsize=50&amp;txt=' + highlight + '&amp;w=1140&amp;h=420'}" width="1140" height="420" th:alt="${highlight}"/>
                    <div class="carousel-caption"></div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <h1>Produtos em Destaque</h1>
        <section th:replace="fragments/product :: product (highlighted=true)"></section>
    </div>
</body>
</html>