<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Cliente - Cadastro</title>
</head>
<body>
    <div layout:fragment="content" class="cart">
        <h1>Cadastro</h1>
        <!--/*@thymesVar id="customer" type="com.ddf.domain.Customer"*/-->
        <form th:action="@{/cadastro}" method="post" th:object="${customer}">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" th:field="*{user.name}" required="required"/>
                <span th:if="${#fields.hasErrors('user.name')}" th:errors="*{user.name}" class="alert alert-danger"></span>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" th:field="*{user.email}" required="required"/>
                <span th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}" class="alert alert-danger"></span>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" th:field="*{user.password}" required="required"/>
                <span th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}" class="alert alert-danger"></span>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit" title="Cadastrar" class="btn btn-success">Cadastrar</button>
            <div class="clearfix"></div>
        </form>
    </div>
</body>
</html>