<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Cadastro de Cliente</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Cadastro</h1>
    <!--/*@thymesVar id="customer" type="com.ddf.domain.Customer"*/-->
    <form th:action="@{/cadastro}" method="post" th:object="${customer}">
        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <li th:each="error : ${#fields.errors('*')}" th:text="${error}">Error!</li>
        </ul>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" th:field="*{user.name}" required="required"/>
            </div>
            <div class="form-group col-md-6">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" th:field="*{user.email}" required="required"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" th:field="*{user.password}" required="required"/>
            </div>
        </div>
        <input type="hidden" th:field="*{user.role}"/>
        <button type="submit" title="Cadastrar" class="btn btn-success">Cadastrar</button>
        <div class="clearfix"></div>
    </form>
</div>
</body>
</html>