<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <title>Minhas compras</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Minhas compras</h1>
        <!--/*@thymesVar id="orders" type="java.util.List"*/-->
        <div th:if="${#lists.isEmpty(orders)}" class="alert alert-info">
            Nenhuma compra realizada
        </div>
        <table th:if="${!#lists.isEmpty(orders)}" class="table table-striped">
            <thead>
                <tr>
                    <th width="100" class="text-center">#</th>
                    <th width="150" class="text-center">Data da compra</th>
                    <th class="text-center">Status</th>
                    <th width="50" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <!--/*@thymesVar id="order" type="com.ddf.domain.Order"*/-->
                <tr th:each="order: ${orders}">
                    <td class="text-center" th:text="${order.getId()}"></td>
                    <td th:text="${#dates.format(order.getDate(), 'dd/MM/yyyy HH:mm')}"></td>
                    <td class="text-center" th:text="${order.getStatus().getName()}"></td>
                    <td class="text-center">
                        <a th:href="@{/minhas-compras/} + ${order.getId()}" title="Detalhe da compra" class="btn btn-default btn-sm">
                            Detalhe
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>